/* Framework */
.time-box {
  border: 1px solid #ddd;
  height: 30px;
  width: 3.5vw; /* 24 hours in a day, 84% of viewport */
  min-width: 50px;
}

.name-box {
  border: 1px solid #ddd;
  height: 30px;
  width: 10vw;
  min-width: 200px;
}

/* Actual TMs */
/* .team-member:hover {
  background-color: blue;
} */
.name-block {
  border: 1px solid #ddd;
  height: 30px;
  width: 10vw;
  text-align: center;
  min-width: 200px;
}

.shift-block {
  position: relative;
  background-color: #4CAF50;
  height: 30px;
  color: white;
  text-align: left;
  line-height: 30px;
  padding: 0 8px;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: #3a873d;
  /* box-shadow: 0 0 10px rgba(58, 135, 61, 0.6); Soft green glow */
  /* transform: scale(1.01);  Slightly enlarges the div */
  /* transition: all 0.1s ease; */
}